@charset "utf-8";
							/*CSS RESET*/
html { 
	box-sizing: border-box;
	height: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body, figure {
	margin: 0;
}


							/*MISC*/
body {
	height: 100%;
	min-width: 406px;
	font-family: "Roboto";
	background: url(../img/background.png);
	background-color: #d9dae1;
	overflow: hidden;
}

.clear {
	clear: both;	
}
	

							/*HEADER*/
header {
	width: 100%; height: 1px;
	text-align: center;
	position: absolute;
	top: 2%;
}
	header div {
		width: 100%; height: 1px;
		position: absolute;
	}

	header img {
		height: 4em;
		margin: auto;
		border-radius: 2222px;
		position: relative;
		z-index: 99;
		background: url(../img/background.png);
		background-color: #d9dae1;
	}

	header h3 {
		width: 100%;
		position: absolute;
		top: -1.1em;
		font-family: 'Roboto';
		font-size: 2em;
		display: none;
	}
		header h3:nth-child(1) {
			left: -2.75em;
		}

		header h3:nth-child(2) {
			left: 1.85em;
		}

							/*MAIN*/


main {
	height: 100%; width: 100%;
    overflow: hidden;
}

main div {
	display: inline-block;
	width: 25%; height: 100%;
	padding: 0;
	margin: 0;
	transition: all linear 0.2s;
	text-align: center;
	color: #03033a;
	cursor: pointer;
}
	.tab:hover {
		background-color: #383c56;
	}

main h1 {
	margin: auto;
	padding-top: 55%;
	font-size: 3em;
	transition: all linear 0.1s;
}

main p {
	transition: all linear 0.2s;
	padding-top: 0.5em;
	font-size: 1em;
}

.just-a-line {
	margin: auto;
	margin-top: 2em;
	width: 10em; height: 1px;
	border-top: 2px solid #c6cdff;
	color: transparent;
}


.tab {
	position: relative;
    overflow: hidden;
}

.inception {
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
}
	.tab-crutch { 
/*позволяет активировать .floating-menu не только при нажатии на .btn-tab, 
  но и на родительский .tab. При этом родитель .inception нужен для корректной работы
  функции downBtn*/
		position: absolute;
		top: 0; left: 0;
		height: 100%; width: 100%;
	}
	
.btn-wrap {
	position: absolute;
	width: 100%; height: 10px;
	bottom: 2.5em; left: 3px;
}
	.btn-tab {
		background: url(../img/down.png) no-repeat;
		background-size: cover;
		height: 50px; width: 50px;
		border: 0;
		border-radius: 100px;
		background-color: rgba(0, 0, 0, 0.800);
		position: relative;
		z-index: 999;
		transition: all linear 0.2s;
		display: none;
		opacity: 0.5;
		transform: rotate(-180deg);
		cursor: pointer;
	}
		.btn-tab:focus {
			outline: 0;
		}

		.btn-tab:hover {
			opacity: 1;	
		}
		
		.btn-wrap .btn-down {
			transform: rotate(0deg);
		}

.floating-menu {
	width: 100%; height: 100%;
	position: absolute;
	bottom: -110%; left: 0;
	transition: all ease-out 0.6s;
	overflow: hidden;
	box-shadow: 0 0 6px #000;
	background: #e70205;
}

	.tab h2 {
		color: #c6cdff;
		width: 100%; height: 20px;
		position: absolute;
		top: -2em; left: 0;
		transition: all ease-out 0.9s;
		z-index: 1;
	}

.site {
	width: 100%; height: auto;
	margin-top: -0.3em;
}
	.site a{
		width: 100%; height: 100%;
		display: block;
		position: absolute;
		z-index: 99;
	}

	.site img {
		width: 100%;
		position: relative;
		z-index: 1;
		transition: all linear 0.2s;
	}
	.site img:nth-child(2) {
		position: absolute;
	}

							/*ABOUT*/
.info {
	width: 100%; height: 100%;
	background: #e8ecff;
	text-align: center;
	padding: 4%;
}
	.info h3 {
		margin-top: 0;	
	}

.photo {
	width: 50%;
	margin: auto;
	border-radius: 50%;
}

.tech {
	width: 100%; height: 12%;
}
	.ico {
		width: 20%;
		background: url(../img/ico/tech.png) no-repeat;
		background-size: 220%;
	}
	
	.ico1 {
		background-position: -20% 0;
	}

	.ico2 {
		background-position: 50% 0;
	}

	.ico3 {
		background-position: 120% 0;
	}


							/*MOBILE*/

.works-btn {
	width: 100%; height: 100%;
	position: absolute;
	top: 0; left: 0;
}

.mobile-sites {
	width: 920px; height: 100%;
	position: absolute;
	top: 0; left: 0;
	white-space: nowrap;
	overflow: auto;
}
	.mobile-sites a {
	}

	.mobile-sites img {
		height: 100%; width: auto;
	}

.mob-site {
	display: inline;
	width: 230px;
}


							/*MEDIA QUERIES*/

@media screen and (max-width: 1065px) {
	
	p:not(.just-a-line) {
		display: none;	
	}	
}

@media screen and (max-width: 920px) {
	header {
		display: none;
	}
	
	main div {
		
	}
	
	main h1 {
		margin-top: 0;
		padding-top: 1em;
	}
	
	.tab h2 {
		display: none;
	}
	
	.floating-menu {
		display: none;
	}
	
	.tab {
		display: block;
		width: 100%; height: 25%;
		border-bottom: 2px solid #c6cdff;
	}
		.tab p{
			display: none;	
		}
	
	.btn-wrap {
		display: none;
	}
}