@charset "utf-8";
							     /*CSS RESET*/
html { 
	box-sizing: border-box;
	height: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body, figure {
	margin: 0;
    height: 100%;
    width: 100%;
}

.clearfix {
	clear: both;
    height: 0;
    overflow: hidden;
}


							     /*POPUP FORM*/
section {
    height: 100%; width: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 99;
    background-color: rgba(33,44,50,.90);
    display: flex;
    justify-content: center;
    align-items: center;
}
    section.hidden {
        display: none;
    }

.moving-zone {
    height:120px; width:480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
	height: 487px; width: 480px;
    background: #fff;
    position: relative;
    z-index: 30;
    transform-style: preserve-3d;
}

    .close {
	    content: "";
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0;
        z-index: 10;
        display: block;
    }
        .close.on {
            display: none;
        }

form {
	height: 100%; width: 100%;
    padding: 39px 49px 50px;
    transform: translateZ(25px);
    position: relative;
}
    form h3 {
        float: left;
        font-family: 'PT Sans', sans-serif;
        color: #1d1d1d;
        width: calc(100%-12px);
        margin: 0 0 35px;
        
    }

    .close-btn {
        float: right;
        height: 17px; width: 17px;
        border: 0; outline: 0;
        background: none;
        position: relative;
        top: 3px; right: 3px;
        cursor: pointer;
    }

        .stroke {
            height: 16px; width: 2px;
            background: #afc1d8;
            transform: rotate(45deg);
            position: absolute;
            top: 0; left: 7px;
            transition: all 0.2s;
        }

            .stroke_second {
	            transform: rotate(-45deg);
            }


    form p {
        clear: both;
        margin: 22px 0 11px;
        font-family: 'Roboto', sans-serif;
        font-size: 12.8px;
        font-weight: 500;
        text-transform: uppercase;
        color: #9babbf;
    }

input {
    width: 100%;
    margin: 0;
    padding: 7px 11px;
    border: 2px solid #afc1d8;
    border-radius: 3px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #9babbf;
}
    input:nth-child(9) {
        width: auto;
        background: #4bae4f;
        border: 0;
        border-radius: 3px;
        padding: 7px 25px;
        margin-top: 22px;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        color: #fff;
        transition: background 0.1s;
    }
        input:nth-child(9):hover {
            background: #73d877;
        }

        input:nth-child(9):active {
            background: #308033;
        }

textarea {
    resize: none;
    height: 82px; width: 100%;
    margin: 0;
    padding: 10px 11px;
    border: 2px solid #afc1d8;
    border-radius: 3px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #9babbf;
}

form a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #5b6877;
    cursor: pointer;
    position: absolute;
    bottom: 10px; right: 20px;
    transition: 0.1s;
}
    form a:hover {
        color: #42ff00;
        text-shadow: 0 0 15px #42ff00;
    }

    form a.on {
        color: #42ff00;
        text-shadow: 0 0 15px #42ff00;
    }

							     /*HEADER*/

header {
    height: 82px; width: 100%;
    border-bottom: 2px solid #f3f7fe;
    background: #fff;
    position: fixed;
    z-index: 45;
}
    header.mobile {
        background: #132026;
    }

.logo {
    margin: 15px 40px;
    height: 50px; width: 50px;
    display: block;
    float: left;
}
    .logo.mobile {
        visibility: hidden;
    }

nav {
    height: 36px; width: auto;
    float: right;
    margin: 22px 40px;
    display: flex;
    position: relative;
}

    nav.mobile {
        height: 343px; width: 100%;
        float: none;
        margin: 0;
        background: #132026;
        flex-direction: column;
        align-items: center;
        transition: height 0.2s;
        z-index: 100;
        padding-top: 4px;
    }

.menu {
    height: 30px; width: 24px;
    position: absolute;
    top: 30px; right: 40px;
    cursor: pointer;
    transition: right 0.6s;
}
    .menu.cross {
        right: calc(50% - 12px);
        top: 34;
    }

.menu_stroke {
    height: 3px; width: 0px;
    background: #263238;
    position: absolute;
    top: 0; left: 0;
    transition: all 0.3s;
}
    .menu_stroke.cross {
        height: 2.5px; width: 17px;
        background: #fff;
        transform: rotate(135deg);
        top: auto; bottom: 11px; left: 3px;
    }
    
.menu_stroke:nth-child(2) {
    top: 8px;
    transition-delay: 0.2s;
}
    .menu_stroke.cross:nth-child(2) {
        top: 8px;
        transition: 0s;
        transition-delay: 0s;
        width: 0;
    }

.menu_stroke:nth-child(3) {
    top: 16px;
    transition-delay: 0.4s;
}
    .menu_stroke.cross:nth-child(3) {
        top: auto;
        transition-delay: 0s;
        transform: rotate(-135deg);
    }

.link {
	height: 36px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    font-size: 16.6px;
    text-transform: capitalize;
    text-decoration: none;
    color: #263238;
    padding: 7px 23px;
}
    
    .link:hover {
        color: #4bae4f;
    }

    .link.form {
        color: #fff;
        background: #4bae4f;
        border-radius: 3px;
        padding: 8px 16px;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.1s;
    }
        .link.form.mobile {
            margin-top: 13px;
        }

    .link.form:hover {
        background: #73d877;
        color: #fff;
        
    }

    .link.form:active {
        background: #308033;
    }

    .link.current, .link.current.mobile {
	    color: #4bae4f;
    }

    .link:nth-child(5) {
        margin-right: 17px;
    }
    
.link.mobile {
    margin-right: 0;
    margin-bottom: 12px;
    color: #fff;
}

    .link.mobile:not(.form):hover {
        color: #4bae4f;
    }


							     /*MAIN*/

main {
    height: auto; width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 9.85% 9.4% 0;
    display: block;
    position: relative;
}

aside {
    float: left;
    height: 100%; width: 43%;
    padding-right: 2.7%;
}

.wrap {
    height: 100%; width: 100%;
    max-height: 470px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

    .wrap div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .wrap img {
        max-height: 470px;
        position: relative;
    }

    /*IE hack*/
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
       .wrap img {
            left: -20%;
        }
    }

article {
    float: right;
    height: 100%; width: 57%;
}

    article h1 {
        margin: -1px 0 0;
        font-family: 'PT Serif', serif;
        font-size: 48px;
        font-weight: 500;
        line-height: 1.24;
        color: #263238;
    }

    article h3 {
        margin-top: 6%;
        font-family: 'Roboto', sans-serif;
        font-size: 18.88px;
        font-weight: 400;
        line-height: 1.55;
        color: #acb2bf;
    }

    article p {
        margin-top: 3.1%;
        font-family: 'Roboto', sans-serif;
        font-size: 17.6px;
        font-weight: 500;
        line-height: 1.71;
        color: #263238;
        letter-spacing: -0.3px;
    }

    article p:nth-child(4) {
        position: relative;
        padding-left: 30px;
        width: 98.9%;
        letter-spacing: -0.2px;
        z-index: -1;
    }
        article p:nth-child(4):before {
            content: '';
            position: absolute;
            height: 94%; width: 3px;
            top: 2%; left: 0;
            background-color: #acb2b7;
        }

    article .link.form {
        display: block;
        height: 50px; width: 170px;
        padding: 14px 1px 0 0;
        font-size: 16.5px;
        text-align: center;
        letter-spacing: -0.5px;
        margin-top: 34px;
        margin-bottom: 34px;
    }

							     /*FOOTER*/

footer {
    width: 100%;
    height: 100px;
    background: #acb2b7;
    margin-top: 100px;
}

    footer p {
        color: #fff;
        padding: 44px 40px 0;
        font-family: 'PT Sans', sans-serif;
        font-size: 14.4px;
    }


                                /*MEDIA QUERIES*/

/*1200px*/

@media screen and (max-width: 1200px) {
    
	main {
        padding: 118px 5.4% 0;
    }
    
    .wrap {
        max-height: 320px;
    }
    
    .wrap img {
	    max-height: 320px;
    }
    
    aside {
        width: 35%;
    }
    
    article {
        width: 65%;
    }   
}

/*992px*/

@media screen and (max-width: 992px) {
    
	nav {
        height: 0;
        overflow: hidden;
    }
    
    .menu_stroke {
        width: 24px;
    }

    header {
        position: relative;
    }
    
    main {
        padding: 48px 5.4% 0;
        margin-top: -6px;
        top: -6px;
    }
    
    aside {
        float: none;
        width: 100%; height: auto;
        padding-right: 0;
    }
    
    article {
        float: none;
        width: 100%;
    }
    
    .wrap {
        max-height: 60.75vw;
        width: 100%;
    }
        .wrap div {
            width: calc(100% - 8px);        
        }
    
        .wrap img {
            max-height: 60vw;
            bottom: 25px;
            left: 0;
        }
    
    article h1 {
        margin: 18px 0 0;
        font-size: 36.8px;
        line-height: 1;
    }

    article h3 {
        margin-top: 19px;
        margin-bottom: 0;
        font-size: 18.88px;
    }

    article p {
        margin-top: 14px;
        font-size: 17.6px;
    }
    
    article .link.form {
        margin-top: 31px;
        margin-bottom: 0;
    }
    
    footer {
        margin-top: 85px;
    }
}

/*480px*/

@media screen and (max-width: 480px) {
    main {
        padding: 0 16px
    }
    
}

/*479px*/

@media screen and (max-width: 479px) {
    .moving-zone {
	    width: 300px;
    }
    
    .popup {
	    width: 300px;
    }
    
    form {
        padding: 39px 19px 50px;
    }
}
