html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	position: static;
	overflow-x: hidden;
}

.main_body {
	height: 100%;
	margin-top: 22px;
}

.slide {
	height: 100%;
	background-size: cover;
}

												/*NAVIGATION BAR*/

.header {
	background-color: #003366;
	position: fixed;
	width: 100%;
	height: 35px;
	z-index: 99;
	border-bottom: 1px solid #ff9900;
}

.navigation_bar {
	margin-top: 5px;
	margin-left: 20px;
	text-align: center;
}

.navigation_bar li {
	display: inline;
	padding: 4px 45px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 20px;
	position: relative;
	top: -4px;
}

@-moz-document url-prefix() {
   .navigation_bar li {
		top: -6px; 
   }
}

.join-btn a {
	position: relative;
	z-index: 1;
	font-size: 30px;
	left: 1px;
	top: 17px;
}

.join-btn2 a {
	position: relative;
	z-index: 1;
	font-size: 30px;
	left: 1px;
	top: 17px;
}

li a:hover {
	color: #ff9900;
}

/*.li_active {
	background: url(img/arrow.png) no-repeat;
	background-position: bottom;
	background-size: 8px;
}*/

a {
	color: white;
	text-decoration: none;
}

#logo {
	height: 140px;
	position: absolute;
	left: 0px;
	top: -38px;
}

.new-img {
	height: 140px;
	position: absolute;
	left: 0px;
	top: -38px;
}

												/* FIRST SLIDE */

#slide1 {
	background: url(img/cover.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	color: white;
	text-align: center;
	margin-top: -22px;
}

#slide1 h1 {
	margin-top: 20px;
	font-size: 80px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

#slide1 img {
	height: 350px;
	margin-top: 120px;
	margin-left: -3px;
}

												/* SECOND SLIDE */

#slide2 {
	height: 100%;
	background: url(img/slide2.jpg);
	background-size: 7px;
	background-repeat: repeat top left;
	color: #003366;
	position: relative;
}

#WWA {
	padding-bottom: 20px;
	font-size: 50px;
	text-align: center;
	width: 100%;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

.seo_photo {
	margin: 0px 0px 0px 30px;
	height: 380px;
}

#slide2 h3 {
	text-align: center;
	width: 330px;
	position:relative;
	font-size: 20px;
	border-bottom: 1px solid black;
}

#text p {
	text-align: center;
	padding-top: 20px;
	width: 100%;
	font-size: 25px;
}

#WWA_text td, tr {
	vertical-align: top;
}

#WWA_text {
	margin: auto;
	margin-top: 75px;
	width: 90%;
}

#WWA_text td {
	padding: 10px;
}

.language {
	background-color: #CFDFEF;
	position: absolute;
	left: -39px;
	top: 50px;
	width: 62px;
	border: 2px solid #003366;
	border-bottom-right-radius: 10%;
	border-top-right-radius: 10%;
	cursor: pointer;
}

.language li{
	padding: 4px;
}

.language #lang_banner {
	transform:rotate(-90deg);
	position: absolute;
	left: 12px;
	top: 21px;
}

#history_bar {
	text-align: center;
	margin-top: 80px;
	border: 1px solid black;
	height: 3px;
	background-color: #003366;
	position: relative;
	z-index: 0;
	margin-left: -5px;
}

.history_bar {
	border: 3px solid #003366;
	border-radius: 20px;
	display: inline-block;
	margin: 0px 70px 0px 70px;
	padding: 12px 12px;
	font-size: 20px;
	cursor: pointer;
	background-color: white;
	position: relative;
	top: -12px;
}

.history_bar:hover {
	background-color: #ff9900;

}

.hist_active {
	background-color: #ff9900;
}

.history_bar table {
	position: absolute;
	z-index: -1;
}

.history_bar tr {
	position: absolute;
	left: -1px;
	top: -12px;
	width: 220px;
}

.history_bar .one {
	transform:rotate(-90deg);
	position: absolute;
	left: -34px;
	top: 12px;
	color: #ff9900;
}

.history_bar .two {
	border-left: 2px solid #003366;
	padding-left: 3px;

}

#special .two {
	transform:rotate(0deg);
	position: static;
	border-right: 2px solid #003366;
	border-left: 0px;
	padding-right: 0px;
	padding-left: 0px;

}

#special .one {
	transform:rotate(90deg);
	border-left: 0px;
	padding-left: 0px;
	position: absolute;
	right: -306px;
	top: 5px;
}

#special tr {
	left: -249px;
	width: 250px;
}

#special p:nth-child(1) {
	height: 40px;
}

#special span {
	color: #ff9900;
}

.history_bar p {
	display: none;
}

													/* THIRD SLIDE */

#slide3 {
	background: url(img/slide3.jpg);
	background-size: 20px;
	background-repeat: repeat top left;
	/*background-color: #003366;*/
	border-top: 4px solid #ff9900;
	text-align: center;
	position: relative;
}

#slide3 h1 {
	font-size: 50px;
	color: white;
	margin-top: 110px;
}

#hexagonal_menu {
	width: 50%;
	height: 50%;
	margin: 0 auto;
	position: absolute;
	top: 13%; right: 1%; bottom: 0; left: 0;
}

.hexagon_main {
	width: 20%;
	height: 50%;
	margin: auto;
	position: absolute;
	cursor: pointer;
	top: 0; right: 0%; bottom: 0; left: 0;
}

.hexagon_main img {
	height: 160px;
	position: absolute;
	margin: auto;
	top: 0; right: 0; bottom: 0; left: 0;
}

.hexagon_main:not(#hex5) img:hover {
	top: -2px;
}

	.hexagon_main_new {
		width: 20%;
		height: 50%;
		margin: auto;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
	}
	
	.hexagon_main_new img {
		height: 160px;
		position: absolute;
		margin: auto;
		top: 0; right: 0; bottom: 0; left: 0;
	}

#hex1 {

	top:0px; left: 0;
}

#hex2 {
	top: 260px;
	left: -150px;
}

#hex3 {
	top: 260px;
	left: 150px;
}

#hex4 {
	top: 520px;
	left: -300px;
}

#hex5 {
	top: 685px;
	left: 0px;
}

#hex5 div {
	position: relative;
}

#hex5 p {
	position: absolute;
	width: 100px;
	font-size: 20px;
	color: white;
	z-index: 1;
}

#hex5 a {
	position: absolute;
	left: 0px;
	top: -14px;
	height: 140px;
	width: 140px;

	font-size: 25px;
}

#hex5 a:hover {
	color: #ff9900;
}

#hex5 .crew_discription {
	color: black;
	width: 276px;
	top: -154px;
	left: -67px;
}

#hex5 .crew_discription2 {
	color: black;
	width: 390px;
	top: -54px;
	left: -127px;
}

#hex5 span {
	color: #ff9900;
}

#hex6 {
	top: 520px;
	left: 300px;
}

													/* FORTH SLIDE */
												
#slide4 {
	align-items: center;
	height: 100%;
	background-color: #e8f0f7;
	position: relative;
}

.wrap {
	background: url(img/slide4_cover.png) no-repeat;
	background-size: 1366px;
	position: relative;
	width: 1366px;
	height: 100%;
	margin: auto;
}

.departure {
	background: url(img/slide4_cover.png) no-repeat;
	background-color: #e8f0f7;
	background-size: 1366px;
	height: 100%;
}

.departure_menu {
	position: absolute;
	bottom: 10%;
	left: 5%;
	text-align: center;
	border: 2px solid #6699cc;
	font-size: 20px;
}

.departure_menu h2 {
	padding: 5px;
	border-bottom: 2px solid #6699cc;
	cursor: pointer;
}

.departure_menu li {
	padding: 5px 0px 5px 0px;
	border-top: 1px dashed #6699cc;
	cursor: pointer;
}

.departure_menu li:first-child {
	border-top: 0px;
}

.departure_menu li:hover {
	background-color: #3366cc;
	color: white;
}

.america {
	display: none;
}
	#boca_chica {
		top: 7.33cm; left: 6.8cm;
	}
	
	#canaveral {
		top: 7.19cm; left: 8.6cm;
	}
	
	#vandenberg {
		top: 5.9cm; left: 5cm;
	}
	
	#kourou {
		top: 9.5cm; left: 10.9cm;
	}
	
	#alcantara {
		top: 10.2cm; left: 11.9cm;
	}
	
	#atlantis {
		top: 4.8cm; left: 12.2cm;
	}
	
.africa {
	display: none;
}
	#hammaguir {
		top: 6.7cm; left: 16cm;
	}
	
	#san_marco {
		top: 10.4cm; left: 20.2cm;
	}
	
	#de_aar {
		top: 13.3cm; left: 18.7cm;
	}

.eurasia {
	display: none;
}
	#kapustin_yar {
		top: 4.7cm; left: 20.4cm;
	}
	
	#plesetsk {
		top: 3.3cm; left: 19.6cm;
	}
	
	#baikonur {
		top: 5.2cm; left: 21.8cm;
	}
	
	#jiuquan {
		top: 5.5cm; left: 25.3cm;
	}
	
	#vostochny {
		top: 4.7cm; left: 27.8cm;
	}
	
	#uchinoura {
		top: 6.6cm; left: 28.8cm;
	}
	
	#sriharikota {
		top: 8.5cm; left: 24.3cm;
	}
	
	#semnan {
		top: 6.3cm; left: 21.4cm;
	}
	
	#wenchang {
		top: 8.0cm; left: 27.2cm;
	}
	
	#xichang {
		top: 6.9cm; left: 26.2cm;
	}
	
	#raum-1 {
		top: 4.5cm; left: 17.3cm;	
	}

.australia {
	display: none;
}
	#woomera {
		top: 13.3cm; left: 29.5cm;	
	}
	
.continent_active {
	display: block;
}

.cosmoport {
	display: none;
	
	position: relative;
	width: 300px;
	color: white;
	font-size: 20px;
	text-shadow: #003366 1px 0px 0px,
				 #003366 0px -1px 0px,
				 #003366 -1px 0px 0px,
				 #003366 0px 1px 0px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	top: 0px;
	left: 4px;
}

#boca_chica .cosmoport {
	left: 7px;
}

#canaveral .cosmoport {
	left: 3px;
}

#san_marco .cosmoport {
	left: 6px;
}

#raum-1 .cosmoport {
	left: 5px;
}

#baikonur .cosmoport {
	left: 6px;
}

#plesetsk .cosmoport {
	left: 6px;
}

#semnan .cosmoport {
	left: 7px;
}

#sriharikota .cosmoport {
	left: 6px;
}

#xichang .cosmoport {
	left: 4px;
}

#jiuquan .cosmoport {
	left: 9px;
	top: -1px;
}

#vostochny .cosmoport {
	left: 5px;
}

#wenchang .cosmoport {
	left: 0px;
	top: 1px;
}

#woomera .cosmoport {
	left: 0px;
	top: 1px;
}

.icon {
    position: absolute; 
    width: 21px;
    height: 21px;
	border-radius: 50px;
	border: 2px solid #6699cc;
    background: #ff9900;
    margin: auto;
	cursor: pointer;
}

@-moz-document url-prefix() {
   .countres .pulse1 {
		top: -30px; 
   }
   
   .countres .pulse2 {
		top: -30px; 
   }
}

.pulse1 {
    position: absolute;  
    width: 81px;
    height: 81px;
    margin: auto; 
    top: 0px; left: -30px; bottom: 0; right: 0;
    opacity: 0;
    border: 3px solid white;
  
    animation: pulsejg1 4s linear infinite;
    border-radius: 999px;
    box-shadow: inset 0px 0px 15px 10px white;
    box-sizing: border-box;
}

.pulse2 {
    position: absolute;
    width: 81px;
    height: 81px;
    margin: auto; 
    top: 0px; left: -30px; bottom: 0; right: 0;
    opacity: 0;
    border: 1px solid white;
  
    animation: pulsejg2 4s 2s linear infinite;
    border-radius: 999px;
    box-shadow: inset 0px 0px 12px 5px white;
    box-sizing: border-box;
}

@keyframes pulsejg1 {
    0% {
        transform: scale(.25);
        opacity: .1;
    }

    25% {
        transform: scale(.45);
        opacity: .25;
    }

    50% {
        transform: scale(.65);
        opacity: .25;
    }

    75% {
        transform: scale(.85);
        opacity: .1;
    }

    100% {
        transform: scale(1.05);
        opacity: 0;
    }
}

@keyframes pulsejg2 {
    0% {
        transform: scale(.25);
        opacity: .1;
    }

    25% {
        transform: scale(.45);
        opacity: .25;
    }

    50% {
        transform: scale(.65);
        opacity: .25;
    }

    75% {
        transform: scale(.85);
        opacity: .1;
    }

    100% {
        transform: scale(1.05);
        opacity: 0;
    }
}

.clock {
	position: absolute;
	top: 82%;
	left: 40%;
	text-align: center;
}

.clock p {
	padding-bottom: 5px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #003366;
	font-size: 20px;
}

													/* FIFTH SLIDE */
													
#slide5 {
	background: url(img/slide5cover.jpg);
	background-size: cover;
	background-position: left;
	overflow: hidden;
	position: relative;
}

video {
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	z-index: 0;
	position: absolute;
}

.join_form {
	margin: auto;
	width: 35%;
	top: 6%; left: -0.2em;
	position: relative;
	text-align: center;
}

.join_form img {
	width: 100%;

}

.join_form div {
	position: absolute;
	width: 100%;
	top: 17%;
	
}

.join_form table {
	position: relative;
	margin: auto;
	width: 68%;
}

.join_form td:first-child {
	border-top: 0px;
}

.join_form .last-child {
	border-bottom: 0px;
}

.join_form td h1 {
	font-size: 20px;
	color: #6699cc;
}

.join_form td {
	position: relative;
	z-index: 1;
	color: black;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	border-bottom: 1px solid black; border-top: 1px solid black;
	padding: 3px;
}

.join_form .blank {
	color: rgba(0,0,0,0.00);
}

.name {
	width: 80px;
}

.sex {
	font-size: 15px;
}

.info {
	width: 130px;
}

td div {
	border: 1px dashed grey;
	width: 50px; height: 50px;
	
}

.submit {
	padding: 6px 15px 6px 15px;
	font-size: 16px;
	margin-top: 8px;
	cursor: pointer;
}

.popup {
	height: 219px;
	width:30%;
	margin: auto;
	position: fixed;
	background: #fff;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 19px;
	top: -30%; right: 0; bottom: 0; left: 0;
	display: none;
	z-index: 9999;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.popup .close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold;
    cursor: pointer;
    color: #6699cc;
    padding: 20px;
    font-size: 20px;
}

.popup .close:hover {
	color: #003366;
	animation: rotation 0.2s linear;
}

	@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(90deg);
    }

    75% {
        transform: rotate(135deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.popup h2 {
	margin: 0;
	padding: 0;
}

.popup .top {
    padding: 20px;
}
 
.popup .bottom {
    background: #6699cc;
    border-top: 1px solid #e5e5e5;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	text-align: center;
	color: white;
	height: 52%;
}

.social {
	padding: 8px 4px;
}

.social div {
	cursor: pointer;
	border-radius: 50%;
	background-color: #7C7C7C;
	display: inline-block;
	width: 34px;
	height: 34px;
}

.fb {
	background-image: url(img/social/fb1.png);
	background-size: 34px;
}
	.fb:hover {
	background-color: #3b5998;
	}

.vk {
	background-image: url(img/social/vk1.png);
	background-size: 34px;
}
	.vk:hover {
	background-color: #4d7198;
	}

.tw {
	background-image: url(img/social/tw1.png);
	background-size: 34px;
}
	.tw:hover {
	background-color: #00aced;
	}
	
#blackout {
    height: 100%;
	background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 999;
    display: none;
}

.footer {
	position: absolute;
	bottom: -7%;
	height: 4%;
	width: 100%;
	text-align: center;
	background: black;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 120%;
}

.footer a {
	z-index: 99;
	line-height: 140%;
}

.footer a:hover {
	color: #ff9900;
}