html { 
	box-sizing: border-box;
	height: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body, figure {
	margin: 0;
}


/*MAIN*/

#body {
	background-size: cover;
	background-position: bottom;
}

#body.season-0 {
	background-image: url('../img/winter.jpg');
}

#body.season-1 {
	background-image: url('../img/spring.jpg');
}

#body.season-2 {
	background-image: url('../img/summer.jpg');
}

#body.season-3 {
	background-image: url('../img/autmn.jpg');
}

#heading {
	bottom: 1%;
	color: #fff;
	font-family: sans-serif;
	font-size: 80px;
	position: absolute;
	text-align: center;
	text-shadow: 2px 2px 1px #000;
	width: 100%;
}
